@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome|typicons);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

#title img{
    width: 150px;
    height: 120px;
    align-items: center;
}

#details img{
    width: 150px;
    height: 120px;
    align-items: center;

}

body{
    background: url(imgPrincipal/fondob.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;

}

/*Portada*/


.container-portada img{
    width: 300px;
    height: 300px;
}
.container-portada{
    width: 100%;
    height: 400px;
    position: relative;
    background-image: url(imgPrincipal/FondoPrincipal.png);
    background-size: 200%;
    animation: movimiento 20s infinite linear alternate;  
}

@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}
.capa-gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, black, #0672d0);
    opacity: 0.5;
}

.container-details{
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
}

/*Portada*/

header{
	width: 100%;
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
    background: #fff;
    font: oblique bold 120% cursive;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

.button{
    width: 200px;
    padding: 6px;
    background: gray;
    border-style: none;
    border-radius: 8px;
    color: white;
    margin-top: 10px;
    transition: all 300ms;
    cursor: pointer;
}

/*imagenes columnas*/

#blog h3, h4, h1,form {
    text-align: center;
}

#blog .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor h4, h1{
    color: white;
}

#blog article {
    margin: 30px;
}

#blog img {
    width: 100%;
    max-width: 280px;
    justify-content: center;
}


/*Video*/
.convideo{
width: 100%;
max-width: 1000px;
margin: auto;
padding: 60px;
margin-top: 10px;
border-top: 6px solid;

}

.video{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.convideo p{
    font-size: 18px;
    font-weight: 300;
    color: white;
}



/*footer sociales*/

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
    background: whitesmoke;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: #333;
    text-decoration: none;
}

@media (min-width:768px) { 
    .sociales {
        width: auto;
    }
    
    footer .contenedor {
        justify-content: center;
    }

}

.tsocial{
    text-align: center;
    background: whitesmoke;
    color:  rgb(0, 42, 97);
}

/*Social Bar*/
.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #2E406E;
}

.icon-twitter {
	background: #339DC5;
}

.icon-youtube {
	background: #E83028;
}

.icon-instagram {
	background: #3F60A5;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}


/*diseno img desarrolladores*/

.fond{position:absolute;padding-top:85px;top:0;left:0; right:0;bottom:0;
  background-color:#65C6BB;}

.carreaux_presentation_light
{
  display:table-cell;
  width:350px; height:450px;
  background-size:cover;
  overflow: hidden;
  position: relative;
}
.carreaux_presentation_light .shadow_swhow_mini
{
  background-color:rgba(19,30,33,0.4);
  position: absolute;
  z-index: 1000;
  top:0;left:0;right:0;bottom:0;
  
}
.carreaux_presentation_light:hover .shadow_swhow_mini
{
  background-color:rgba(16,23,41,0);
}
.carreaux_presentation_light .deroul_titre
{
  position: absolute;
  text-transform: uppercase;
  font-family: 'Roboto';
  padding: 10px;
  z-index: 1000;
  top:60%;left:-85%;
  color:#ffffff;
  font-weight: 300;
  font-size: 15px; width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;

}
.carreaux_presentation_light:hover .deroul_titre
{
  background-color:#346be4; left:0px;
  
}
.carreaux_presentation_light .deroul_soustitre
{
  position: absolute;
  font-family: 'Roboto';
  padding: 7px;
  z-index: 1000;
  top:60%;right:-90%;
  margin-top: 25px;
  color:#ffffff;
  font-weight: 300;
  font-size: 13px; width: 80%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
}
.carreaux_presentation_light:hover .deroul_soustitre
{
  background-color:#818ec9;right:0px;
}

/*diseno img desarrolladores*/