@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome|typicons);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

#details img{
    width: 150px;
    height: 120px;
    align-items: center;

}

body{
    background: url(imgPrincipal/fondob.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;

}

/*Portada*/


.container-portada img{
    width: 300px;
    height: 300px;
}
.container-portada{
    width: 100%;
    height: 400px;
    position: relative;
    background-image: url(imgPrincipal/FondoPrincipal.png);
    background-size: 200%;
    animation: movimiento 20s infinite linear alternate;  
}

@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}
.capa-gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, black, #0672d0);
    opacity: 0.5;
}

.container-details{
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
}

/*Portada*/

header{
	width: 100%;
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
    background: rgb(44, 35, 35);
    font: oblique bold 120% cursive;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #e4dede;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

/* slider */

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite;
    animation-direction: alternate;
}

.slider li {
    width: 200%;
    list-style: none;
}

.slider img {

width: 100%;
}

@keyframes cambio {
    0% {margin-left:0; }
    20% {margin-left:0; }

    25% {margin-left: -100%; }
    45% {margin-left: -100%; }

    50% {margin-left: -200%; }
    70% {margin-left: -200%; }

    75% {margin-left: -300%; }
    100% {margin-left: -300%; }

}

/*slider 2*/

.slider2 {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider2 ul {
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 25s infinite;
    animation-direction: alternate-reverse;
}

.slider2 li {
    width: 200%;
    list-style: none;
}

.slider2 img {

width: 100%;
}

/*imagenes columnas*/

#blog h3, h4 {
    text-align: center;
}

#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor h4{
    color: white;
}

#blog article {
    margin: 50px;
}

#blog img {
    width: 100%;
    max-width: 280px;
    align-items: center;
}

/*Video*/
.convideo{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    margin-top: 10px;
    border-top: 6px solid;
    
    }
    
    .video{
        float: center;
        margin-right: 20px;
        margin-bottom: 20px;
        align-items: center;
    }
    
/*footer sociales*/

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
    background: whitesmoke;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: #333;
    text-decoration: none;
}

@media (min-width:768px) { 
    .sociales {
        width: auto;
    }
    
    footer .contenedor {
        justify-content: center;
    }

}

.tsocial{
    text-align: center;
    background: whitesmoke;
    color:  rgb(0, 42, 97);
}

@keyframes cambio {
    0% {margin-left:0; }
    20% {margin-left:0; }

    25% {margin-left: -100%; }
    45% {margin-left: -100%; }

    50% {margin-left: -200%; }
    70% {margin-left: -200%; }

    75% {margin-left: -300%; }
    100% {margin-left: -300%; }

}

/*Social Bar*/
.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #2E406E;
}

.icon-twitter {
	background: #339DC5;
}

.icon-youtube {
	background: #E83028;
}

.icon-instagram {
	background: #3F60A5;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

/*imagenes columnas*/

#blog h3, h4, h1,form,img {
    text-align: center;
    
}

#blog .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.contenedor h4, h1{
    color: rgb(248, 248, 248);
    font-size: 200%;

}

#blog article {
    margin: 30px;
}

#blog img {
    width: 300%;
    max-width: 480px;
    justify-content: center;
}

.buttons {
    width: 30%;
    height: 40px;
    background: #017bab;
    border: #fff;
    border-radius: 5px;
    color: white;
    margin-bottom: 16px;
    font-size: 20px;
  }

  /*contenedor*/

.contenedor .form .form-header .form-title {
    font-weight: normal;
    font-family: sans-serif;
    color: #2196f3;
    text-align: center;
}

.contenedor .form .form-header .form-title span {
    color: #fcf9f9;
}

.contenedor .form {
    background: rgb(223, 223, 224);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;   
}

.contenedor .form .form-label {
    display: bock;
    color:#3e5f8a;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}

.contenedor .form .form-input, .form-textarea {
    background: rgba(156, 150, 150, 0.7);
    border: none;
    outline: none;
    border-bottom: 2px solid;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 2px;
    font-size: 14px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.boton{
    width: 200px;
    margin: auto;
    padding: 6px;
    background: gray;
    border-style: none;
    border-radius: 8px;
    color: white;
    margin-top: 10px;
    transition: all 300ms;
    cursor: pointer;
}